.Weather {
    background: var(--background);
    top: 40%;
    box-shadow: 0 0 10px 0;
   text-align: center;
    margin:80px 10px;
    padding: 20px 5px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    
  }
  .WeatherForecast{
    text-align: center;
  }
  :root {
    --background: linear-gradient(rgb(239, 216, 222) 0%, rgb(236, 247, 246) 100%);
    --main-color: #115583;
    --line-color: #567e99;
  }
  h1 {
    color: var(--main-color);
    padding-right: 20px;
  }
  
  body {
    background: var(--background);
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
   
  }
  
  .card-header,
  .card-title,
  .forecast-title {
    color: var(--main-color);
    font-family: cursive;
    text-align: center;
    
    
  }
  .list-group-item {
    color: var(--main-color);
    background: linear-gradient(rgb(239, 216, 222) 0%, rgb(236, 247, 246) 100%);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    line-height: 5px;
  }
  
  .search-form,
  .search-bar {
    text-align: center;
    padding: 10px 10px;
    margin-left: 20px;
  }
  input,
  select,
  textarea {
    text-align: center;
    color: var(--line-color);
    border-radius: 10px;
    border-color: aliceblue;
    text-transform: capitalize;
  }
  
  input:focus {
    color: var(--line-color);
  }
  
   .btn{
    color: var(--line-color);  
    border-radius: 10px;
    border-color: aliceblue;
 line-height: 15px;
 margin-left: 15px;
 margin-bottom: 3px;
   }
 
.btn:hover {
color: aliceblue;
background-color: var(--line-color);
}
  
  a {
    text-decoration: none;
    color: var(--main-color);
    cursor:pointer;
  }
  .tempLink{
    font-weight: bold;
  }
 
  ::placeholder {
    border-radius: 15px;
    color: var(--line-color);
  }
  
  .source-link {
    color: var(--main-color);
    text-transform: cursive;
    font-size: 15px;
    text-align: center;
  }
  
  
  